body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./assets/background.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    height: 100vh; /* Sets the height to fill the viewport */
    color: white; /* Sets text color for contrast */
}

.nav-links {
    width: 40%;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    display: inline-block;
    margin: 100px auto;
}

.search-bar {
    padding-left: 0px;
    width: 25%;
}

.social-media-links {
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
}

.social-media-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.website-name {
    width: 15%;
}

#dest-search {
    width: 200px;
}