body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./assets/background.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    color: white; 
}

button:hover {
    background-color: #357ae8;
}

form {
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: black;
}

input, textarea, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.about {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    display: inline-block;
    padding-bottom: 40px;
}

.container {
    display: flex;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    margin: 20px auto;
}

.country {
    display: flex;
    flex-direction: column;
}

.learn-more {
    border: 2px solid #ccc;
    background: #00aa00;
    padding: 2px 8px;
    border-radius: 15px;
    color: #ddd;
    font-size: 18px;
    width: 128px;
}

.learn-more:hover {
    background: #357ae8;
}

.member {
    background: rgba(0, 0, 0, 0.8); 
    padding: 24px;
}

.nav-links {
    width: 40%;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.search-bar {
    padding-left: 0px;
    width: 30%;
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.social-media-links {
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
}

.social-media-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

.small-btn {
    color: black;
    width: 88px;
}

.standard-btn {
    background-color: #4285F4;
    color: white;
    border: none;
    cursor: pointer;
}

.website-name {
    width: 15%;
}

#form {
    display: flex;
}

#greeting {
    display: inline-block;
    margin-bottom: 80px;
}

#dest-search {
    width: 240px;
}

#results {
    width: 70%;
    background: rgba(0, 0, 0, 0.0);
    padding: 10px;
}

#team {
    display: flex;
    gap: 48px;
    margin: 24px;
    padding-left: 200px;
    padding-bottom: 50px;
}